.test2 {
  #containerTest2 {
    border: solid #fdd;
    clear: both;
  }

  @gap_hor: 80px;
  @gap_ver: @gap_hor /2;

  @block_border_size: 1px;
  @block_border_color: #ccc;

  @connect_border_size: 2px;
  @connect_border_color: @block_border_color;

  @toggle_size: 20px;

  // Use label with for with the id on input to toggle it
  input {
    display: none;
    position: absolute;
    clip: rect(0,0,0,0)
  }
  input ~ ul {
    display: none;
  }
  input:checked ~ ul {
    display: block;
  }

  input ~ div.fake-list-container {
    display: none;
  }
  input:checked ~div.fake-list-container {
    display: block;
  }

  label.tree-toggle {
    position: absolute;
    cursor: pointer;
    left: ~"calc(@{gap_hor}/2)";
    bottom: ~"calc(@{toggle_size} / -2)";

    display: block;
    width: @toggle_size;
    height: @toggle_size;

    z-index: 1;
  }
  label.tree-toggle:before {
    position: absolute;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 1.05em;
    content: '+';
    display: block;
    left: ~"calc(@{toggle_size} / -2)";
    width: @toggle_size;
    height: @toggle_size;
    border-radius: @toggle_size/2;
    border: solid @connect_border_color @connect_border_size;
    background-color: #fff;
  }

  input:checked + div label.tree-toggle:before {
    content: '-';
    color: #fff;
    background-color: #ccc;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    clear: left;
    position: relative;
    border: none;
  }

  ul:before {
    display: none;
    content: '+';
    position: absolute;
    width: 1em;
    height: 1em;
    background-color: aqua;
  }

  li {
    position: relative;
    display: inline-block;
    padding: @gap_ver @gap_hor 0;
    float: left;
    clear: both;
    border: none;
  }

  li:before {
    position: absolute;
    content: "";
    display: block;
    border-left: dotted @connect_border_size @connect_border_color;
    top: 0;
    left: ~"calc(@{gap_ver})";
    width: @gap_ver;
    height: ~"calc(100% + @{gap_ver})";
  }

  // Order is mandatory div, then input, then ul
  input + .connection-top-bottom + ul > li:nth-last-child(2):before,
  ul > li:last-child:before {
    border: none;
  }

  .block {
    position: relative;
    display: inline-block;
    padding: 1em;
    border: solid @block_border_size @block_border_color;
  }

  .block:before {
    position: absolute;
    content: "";
    display: block;
    border-left: solid @connect_border_size @connect_border_color;
    border-bottom: solid @connect_border_size @connect_border_color;
    top: ~"calc( @{gap_ver} * -1 - @{block_border_size})";
    left: ~"calc(@{gap_ver} * -1 - @{block_border_size})";
    width: @gap_ver;
    height: ~"calc(50% + @{gap_ver})";
  }
  .block:hover:before {
    background: #ffdddd;
    border-color: #f00;
  }

  .block.connection-none:before {
    display: none;
  }
  .block.connection-top-bottom:before {
    left: @gap_hor/2;
    height: @gap_ver;
    border-bottom: none;
  }

  .group {
    clear: both;
  }

  .group div.fake-block label.tree-toggle {
    left: ~"calc(@{gap_hor} + @{connect_border_size} + @{gap_hor}/2)";
  }

  .block-line-label {
    position: absolute;
    content: "";
    display: block;
    top: ~"calc((50%/2) + @{gap_ver} * -1 - @{block_border_size})";
    left: ~"calc(@{gap_ver} * -1.5 - @{block_border_size})";

    width: @gap_ver;
    padding: 0.125rem;
    background-color: #fff;
    border: solid @connect_border_size @connect_border_color;

    text-align: center;
    font-size: 0.8rem;
  }

  .list-line-label {
    position: absolute;
    content: "";
    display: block;
    top: calc(50%/2);
    left: ~"calc(@{gap_hor}/2 - @{gap_ver}/2)";

    width: @gap_ver;
    padding: 0.125rem;
    background-color: #fff;
    border: solid @connect_border_size @connect_border_color;

    text-align: center;
    font-size: 0.8rem;
  }
}

.test1 {

  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul {
    padding-left: 1em;
  }

  li {
    padding-left: 1em;
    border: 1px dotted black;
    border-width: 0 0 1px 1px;
  }

  li.container {
    border-bottom: 0px;
  }

  li.empty {
    font-style: italic;
    color: silver;
    border-color: silver;
  }

  li div {
    margin: 0;
    background: white;
    position: relative;
    top: 0.5em;
  }

  li ul {
    border-top: 1px dotted black;
    margin-left: -1em;
    padding-left: 2em;
  }

  ul li:last-child ul {
    border-left: 1px solid white;
    margin-left: -17px;
  }

  .block {
    border: solid 2px #ccc;
    width: 200px;
    padding: 10px;
  }

  .container {
    position: relative;
    border: solid 4px;
  }

  #grapho {
    z-index: 0;
  }

  #lines {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
